<!-- views/home/login.ejs -->
<!DOCTYPE html>
<html>
  
<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
    <script type="text/javascript" src="/public/js/login.js" defer></script>
    
    <link rel="stylesheet" type="text/css" href="/public/css/login.css"/>
    <div class="login-box">
      <div class="form signup">
        <div class="form-header">
          <div class="show-signup">Sign Up</div>
          <div class="show-signin">Sign In</div>
      </div>
      <div class="arrow"></div>
      <div class="form-elements">
        <div class="form-element">
          <input type="text" placeholder="Username">
        </div>
        <div class="form-element">
          <input type="password" placeholder="Password">
        </div>
        <div class="form-element">
          <input type="password" placeholder="Confirm password">
        </div>
        <div class="form-element">
          <button id="submit-btn">Sign Up</button>
        </div>
      </div>
      </div>
    </div>
</body>

<footer>
    <div class="footer img-wrapper">
    <div class="img">
      <a href="https://velog.io/@kjh950330">
        <img src="https://pbs.twimg.com/profile_images/1228368893321736193/Ov0og7E8_400x400.jpg" style="max-width: 2%; height: auto;" alt="velog">
      </a>
    <div class="footertext">
      copyright(c) 2022. jihan kong. All rights reserved.
    </div>
  </footer>
</html>