<!-- views/home/login.ejs -->
<!DOCTYPE html>
<html>
  
<head>
    <%- include('../partials/head') %>
</head>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Signika:wght@300&display=swap');
</style>

<body>
    <%- include('../partials/nav') %>
    <script type="text/javascript" src="/public/js/login.js" defer></script>
    
    <link rel="stylesheet" type="text/css" href="/public/css/login.css"/>
    
    <div class="login-box">
    <div class="title">Wonderful Korea</div>
      <div class="form signup">
        <div class="form-header">
          <div class="show-signup">Sign Up</div>
          <div class="show-signin">Sign In</div>
      </div>
      <div class="arrow"></div>
      <div class="form-elements">
        <div class="form-element">
          <input type="text" placeholder="아이디">
        </div>
        <div class="form-element">
          <input type="password" placeholder="비밀번호">
        </div>
        <div class="form-element">
          <input type="email" placeholder="이메일">
        </div>
        <div class="form-element">
          <button id="submit-btn">Sign Up</button>
        </div>
        <p class="font" style="color: #072f6e">or Social Login</p>
        <a href="/auth/google" class="social-button" id="google-connect"> <span>Connect with Google</span></a>
      </div>
      </div>
    </div>
</body>

<footer>
    <div class="footer img-wrapper">
    <div class="img">
      <a href="https://velog.io/@kjh950330">
        <img src="https://pbs.twimg.com/profile_images/1228368893321736193/Ov0og7E8_400x400.jpg" style="max-width: 2%; height: auto;" alt="velog">
      </a>
    <div class="footertext">
      copyright(c) 2022. jihan kong. All rights reserved.
    </div>
  </footer>
</html>